body{
    padding-top: 50px; 
}

.header-container {
    width: 100%;
    height: 700px;
    border-left: none;
    border-right: none;
    position: relative;
    padding:20px;

}

.video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: -10;   
    opacity: 0.9;
    width: 100%;
}

.textoIntro2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.bajarMouse {
    padding-top: 15%;
    z-index: 1;
}



html,body {
    height: 100%;

}

body{
    padding-top:50px;
}


.textoArmado {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
}

.textoArmado2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.rowPaddingPr {
    padding-top: 2%;
}

.tipoComp{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.imagenComp {
    padding-top: 5%;
}

.textoComponentes {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-top: 5%;
}

.parteDisp {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#claseDeComp {
    padding-top:2%;
}


.separatorInfo {
    padding-top: 5%;
}

.bordeInfo {
    border-left: 1px solid;
    border-color: lavender;
}

.cajaInfo {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.3;
}


.paddingFooter{
    padding: 0;
}

.separacionFooter {
    padding-top:5%;  
}

.colorFooter {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}


.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

/*  BARRA DE NAVEGACION -> SE USO TWBSCOLOR   */
.navbar-default {
    background-color: #262930;
    border-color: #a79faa;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #262930;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #a79faa;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #a79faa;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #a79faa;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #a79faa;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #a79faa;
}
.navbar-default .navbar-toggle {
    border-color: #a79faa;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #a79faa;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #a79faa;
    }
}